[class*=icon-]{
	margin: .5em;
	font-size: 1.5em;
	color: #666;
}

.icon-mid {
	font-size: 2.5em !important;
}
.icon-large {
	font-size: 4em !important;
}

/* Arrows */
.icon-right,
.icon-left,
.icon-up,
.icon-down,
.icon-arrow-right,
.icon-arrow-left,
.icon-arrow-up,
.icon-arrow-down{
	position: relative;
	width: .5em;
	height: .5em;
	border-left: .1em solid #666;
    border-bottom: .1em solid #666;
    margin: .5em .7em;
}
.icon-right,
.icon-arrow-right{
	top: .35em;
	transform: translate(0,-50%) rotate(-135deg);
}
.icon-left,
.icon-arrow-left{
	top: .35em;
	transform: translate(0,-50%) rotate(45deg);
}
.icon-up{
	top: .45em;
	transform: translate(0,-50%) rotate(135deg);
}
.icon-arrow-up{
	top: .2em;
	transform: translate(0,-50%) rotate(135deg);
}
.icon-down{
	top: .125em;
	transform: translate(0,-50%) rotate(-45deg);
}
.icon-arrow-down{
	top: .45em;
	transform: translate(0,-50%) rotate(-45deg);
}
.icon-arrow-right:before,
.icon-arrow-left:before,
.icon-arrow-up:before,
.icon-arrow-down:before {
	content: '';
	position: absolute;
	top: .1em;
	width: .75em;
	height: .1em;
	background-color: #666;
	transform: rotate(-45deg);
}

/* Plus and Minus */
.icon-plus,
.icon-minus,
.icon-plus:after{
	width: 1em;
	height: .125em;
	background-color: #666;
}
.icon-plus,
.icon-minus{
	position: relative;
	top: -.25em;
	margin-top: 1em;
}
.icon-plus:after {
	content: '';
	position: absolute;
	transform: rotate(90deg);
}

/* False */
.icon-false,
.icon-false:after {
	width: 1.2em;
	height: .12em;
	border-radius: .1em;
	background-color: #666;
}
.icon-false {
	position:relative;
	top: -.15em;
	transform: rotate(45deg);
	margin: .98em .45em .5em .35em;
}
.icon-false:after {
	content:'';
	position: absolute;
	transform: rotate(90deg);
}

/* True */
.icon-true,
.icon-true:after {
	height: .12em;
	background-color: #666;
	transform-origin: right center;
	border-radius: .1em;
}
.icon-true {
	position:relative;
	top: .25em;
	left: -.4em;
	width: .6em;
	transform: rotate(45deg);
	margin: .98em .7em .5em .7em;
}
.icon-true:after {
	content: '';
	position: absolute;
	top: .05em;
	left: -.6em;
	width: 1.2em;
	transform: rotate(90deg);
}

/* Search */
.icon-search {
	position: relative;
	top: .1em;
    left: -.1em;
    width: 0.6em;
    height: 0.6em;
  	border: 0.175em solid #666;
  	border-radius: 0.65em;
  	margin: .15em .525em .5em .525em;
}
.icon-search:before {
	content: '';
	position: absolute;
  	right: -0.45em;
  	bottom: -0.25em;
  	width: 0.6em;
  	height: 0.15em;
  	background: #666;
  	transform: rotate(45deg);
}

/* Menus*/
.icon-menu{
	position: relative;
    top: -.2em;
    margin-top: 1em;
    width: 1.2em;
    height: .12em;
    background-color: #666;
    box-shadow: 0em -0.35em 0 0 #666, 
    			0em 0.35em 0 0 #666;
    margin: .98em .4em .5em .4em;
}

/* Dot */
.icon-dot{
	position: relative;
	top: -.2em;
	width: .2em;
	height: .2em;
	background-color: #666;
	border-radius: 50%;
	box-shadow: -0.6em 0em 0 0 #666, 
				0.6em 0em 0 0 #666;
	margin: .9em .9em .5em .9em
}

/* Download  and Upload */
.icon-download,
.icon-upload {
	position: relative;
	width: .2em;
	height: .5em;
	background-color: #666; 
	margin: .605em .901em .5em .901em ;
}
.icon-download{
	top: -.235em;
}
.icon-upload {
	top: -.1em;
}
.icon-download:before,
.icon-upload:before {
	content: '';
	position: absolute;
	left: -.15em;
	border-width: .25em;
	border-style: solid;
}
.icon-download:before {
	top: .4em;
	border-color: #666 transparent transparent transparent; 
}
.icon-upload:before {
	top: -.35em;
	border-color: transparent transparent #666 transparent; 
}
.icon-download:after,
.icon-upload:after {
	content: '';
	position: absolute;
	top: .4em;
	left: -.4em;
	width: .75em;
	height: .25em;
	border-width: 0 .125em .125em .125em;
	border-style: solid;
	border-color: #666; 
}
.icon-download:after{
	top: .5em;
}

/* Share */
.icon-share{
	position: relative;
	top: -.1em;
	left: -.85em;
	height: .35em;
	width: .35em;
	border-radius: 50%;
	color: #666;
	box-shadow: inset 0 0 0 1em, 
				1em -.5em 0 0, 
				1em .5em 0 0;
	margin: .75em .5em .5em 1.15em;
}
.icon-share:after,
.icon-share:before{
	content: '';
	position: absolute;
	left: .2em;
	width: .95em;
	height: .1em;
	background-color: #666;
}
.icon-share:before{
	top: -.15em;
	transform: rotate(-25deg)
}
.icon-share:after{
	top: .4em;
	transform: rotate(25deg)
}

/* Sliders */
.icon-sliders{
	position:relative;
	top: .125em;
    height: 1em;
    width: 1em;
    margin-top: .1em; 
} 
.icon-sliders:after,
.icon-sliders:before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #666;
}
.icon-sliders:before{
    width: .45em;
    height: .2em;
    border-radius: .05em;
    top: 70%;
    box-shadow: inset 0 0 0 0.1em, 
    			0.4em -0.4em, 
    			-0.4em -0.5em;
}
.icon-sliders:after{
    width: .1em;
    height: 110%;
    box-shadow: inset 0 0 0 .1em, 
    			.4em 0, -.4em 0
}

/* Site map */
.icon-sitemap{
	position: relative;
	top:.15em;
    width: 1.3em;
    height: .1em;
    color: #666;
    box-shadow: 0 -.25em;
    margin: 1em .351em .5em .35em;
}
.icon-sitemap:before,
.icon-sitemap:after{
	content: '';
	position: absolute;
    left: 50%;
    transform: translateX(-50%)
}
.icon-sitemap:before{
    width: .45em;
    height: .25em;
    border-radius: .05em;
   box-shadow: inset 0 0 0 1.6em, 
   				0.6em 0, 
   				-0.6em 0, 
   				0 -0.7em 0 0.05em;
}
.icon-sitemap:after{
    width: .1em;
    height: .45em;
    box-shadow: 0 -0.41em, 
    			0.6em -0.25em, 
    			-0.6em -0.25em;
}

/* List */
.icon-list,
.icon-list:before,
.icon-list:after {
	width: .085em;
	height: .165em;
	border-width: 0 1em 0 .3em;
	border-style: solid;
	border-color: #666;
}
.icon-list {
	position: relative;
	top: -.5em;
	margin: .935em .308em .5em .308em;
}
.icon-list:before,
.icon-list:after {
	content: '';
	position: absolute;
	left: -.3em;
}
.icon-list:before {
	top: .3125em;
}
.icon-list:after {
	top: .655em;
}

/* Grid */
.icon-grid,
.icon-grid:before {
	width: .0675em;
	height: .46875em;
	border-width: 0 .46875em;
	border-style: solid;
	border-color: #666;
}
.icon-grid {
	position: relative;
	top: -.275em;
	margin: .631em .499em .5em .497em;
}
.icon-grid:before {
	content: '';
	position: absolute;
	top: .53125em;
	left: -.46875em;
}

/* Comments and Mail */
.icon-comment,
.icon-comment-text,
.icon-mail {
	position: relative;
	width: 1.2em;
	height: .7em;
	background-color: #666;
	margin: .4em .4em .5em .4em;
}
/* Comments */
.icon-comment,
.icon-comment-text {
	border-radius: .125em;
}
.icon-comment:after,
.icon-comment-text:before,
.icon-comment-text:after {
	content: '';
	position: absolute;
	border-style: solid;
}
.icon-comment-text:before {
	top: .1875em;
	left: .2em;
	width: .75em;
	height: .1em;
	border-width: .1em 0;
	border-color: #fff;
}
.icon-comment:after,
.icon-comment-text:after {
	top: .6em;
	left: .25em;
	border-width: .175em;
	border-color: #666 transparent transparent #666;
}

/* Mail */
.icon-mail {
	top: .1em;
}
.icon-mail:before,
.icon-mail:after {
	content: '';
	position: absolute;
	border-width: .4em .6em;
	border-style: solid;
}
.icon-mail:before {
	border-color: #fff transparent transparent transparent;
}
.icon-mail:after {
	top: -.07em;
	border-color: #666 transparent transparent transparent;
}

/* Calendar */
.icon-calendar{
	position: relative;
	top: .25em;
	width: .875em;
	height: .65em;
	border-width: .175em .0625em .0625em .0625em;
	border-style: solid;
	border-color: #666; 
	background-color: #fff;
	border-radius: .0625em;
	margin-top: .213em;
}
.icon-calendar:before{
	content: '';
	position: absolute;
	top: -.35em;
	left: .125em;
	width: .275em;
	height: .25em;
	border-width: 0 .175em;
	border-style: solid;
	border-color: #666;
}
.icon-calendar:after{
	content: "15";
	position: absolute;
	top: -.05em;
	left: .05em;
	font-family: Arial, sans-serif;
	font-size: .65em;
	font-weight: bold;
	color: #666;
}

/* File */
.icon-file {
	position: relative;
	top: .25em;
	width: .6em;
	height: .8em;
	border-width: .125em;
	border-style: solid;
	border-color: #666; 
	background-color: #fff;
	border-radius: .0625em;
	margin: .05em .575em .5em .575em;
}
.icon-file:before {
	content: '';
	position: absolute;
	top: -.125em;
	left: .43em;
	border-width: .15em;
	border-style: solid;
	border-color: #fff #fff #666 #666; 
}
.icon-file:after {
	content: '---';
	position: absolute;
	top: .15em;
	left: .06em;
	display: block;
	line-height: .175em;
	color: #666;
}

/* Folder */
.icon-folder {
	position: relative;
	top: .25em;
	left: 0;
	width: 1.35em;
	height: .85em;
	background-color: #666;
	border-radius: .035em;
	margin: .25em .325em .5em .325em;
}
.icon-folder:before {
	content: '';
	position: absolute;
	top: -.2em;
	left: .125em;
	width: .65em;
	height: .21em;
	background-color: #666;
	border-top-left-radius: .05em;
	border-top-right-radius: .09em;
	box-shadow: .3em .1em 0 0 #666;
}

/* Image */
.icon-image {
	position: relative;
	top: .3em;
	width: 1.5em;
	height: 1em;
	overflow: hidden;
	border-width: .0625em;
	border-style: solid;
	border-color: #666; 
	border-radius: .0625em;
	margin: -.026em .19em .5em .19em;
}
.icon-image:before{
	content: '';
    position: absolute;
    left: .45em;
    top: .65em;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    box-shadow: inset 0 0 0 1em #666, 
    			-0.25em 0.6em 0 0 #666;
}
.icon-image:after{
	content: '';
    position: absolute;
    top: .2em;
    left: .2em;
    width: .2em;
    height: .2em;
    border-radius: 50%;
    color: #666;
    box-shadow: inset 0 0 0 32px;
}

/* Stats */
.icon-stats,
.icon-stats:before {
	width: .35em;
	border-width: 0 .2em;
	border-style: solid;
	border-color: #666; 
}
.icon-stats {
	position: relative;
	top: .175em;
	left: -.25em;
	height: .875em;
	margin: .225em .626em .5em .625em;
}
.icon-stats:before {
	content: '';
	position: absolute;
	top: .325em;
	left: .1em;
	height: .5625em;
}
.icon-stats:after {
	content: '';
	position: absolute;
	top: .875em;
	left: -.2em;
	width: 1.25em;
	height: .125em;
	background-color: #666; 
}

/* Fly */
.icon-fly{
	position: relative;
	top: .7em;
	left: -.02em;
	width: .1em;
	height: .1em;
	background-color: transparent;
	border-style: solid;
	border-width: .4em .4em .8em .8em;
	border-color: #666 #666 transparent transparent;
    transform: skew(-25deg,-25deg);
    margin: -.2em .7em .5em 0;
}

/* Tag */
.icon-tag {
	position: relative;
	top: -.15em;
	width: .65em;
	height: .65em;
	background-color: #666;
	border-top-left-radius: .0625em;
	border-top-right-radius: .0625em;
	margin: .45em .675em .5em .675em;
}
.icon-tag:before,
.icon-tag:after {
	content: '';
	position: absolute;
	top: .65em;
	border-width: .2em;
	border-style: solid;
}
.icon-tag:before {
	left: 0;
	border-color: #666 transparent transparent #666;
}
.icon-tag:after {
	left: .25em;
	border-color: #666 #666 transparent transparent; 
}

/* Flag */
.icon-flag{
	position: relative;
	top: .25em;
    width: 1em;
    height: 1.1em;
    border-left: .125em solid #666;
    margin: 0 .441em .5em .435em;
}
.icon-flag:after,
.icon-flag:before{
	content: "";
    position: absolute;
    width: .35em;
    height: .25em;
    border: .1em solid #666;
    background-color: #666;
}
.icon-flag:before{
    left: -.1em;
    top: .05em;
    border-radius: 0 .05em 0 0;
    border-right-width: .1em;
}
.icon-flag:after{
    width: .2em;
    left: .35em;
    top: .175em;
    border-left-width: .1em;
    border-radius: .05em .05em 0;
}

/* Flash */
.icon-flash{	
	position: relative;
    top: .45em;
    border-right: .25em solid transparent;
    border-top: .8em solid #666;
    box-shadow: -0.23em -0.5em #666;
    transform: rotate(20deg);
    margin: .301em .876em .5em .875em;
}

/* Star */
.icon-star {
	position: relative;
	top: .125em;
	width: .125em;
    border-color: #666 transparent transparent transparent;
    border-style: solid;
    border-top-width: .555em;
    border-right-width: .7em;
    border-left-width: .55em;
    margin: .445em .3134em .5em .313em
}
.icon-star:before,
.icon-star:after {
	content: '';
	position: absolute;
	top: -.75em;
    width: .325em;
    height: .65em;
    border-style: solid;
    border-color: #666 transparent transparent transparent;
    border-width: .525em .6em 0 .6em;
}
.icon-star:before {
	left: -.95em;
    transform: rotate(71deg);
}
.icon-star:after {
	left: -.35em;
    transform: rotate(-71deg);
}

/* Heart */
.icon-heart {
	position: relative;
	width: .7em;
	height: 1em;
	background-color: #666;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	transform: rotate(-45deg);
	transform-origin: center bottom;
	margin: .101em .451em .5em .851em;
}
.icon-heart:after {
	content: "";
	position: absolute;
	top: -.34em;
	left: -.34em;
	width: .7em;
	height: 1em;
	background-color: #666;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	transform: rotate(90deg);
	transform-origin: center bottom;
}

/* Position */
.icon-position {
	position: relative;
	top: .05em;
	width: .455em;
	height: .455em;
	border: .3em solid #666;
	border-radius: 50%;
	margin: .05em .475em .5em .475em;
}
.icon-position:after {
	content: "";
	position: absolute;
	top: .45em;
    left: -.272em;
	border-top: .65em solid #666;
	border-right: .5em solid transparent;
	border-left: .5em solid transparent;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

/* Eye */
.icon-eye {
	position: relative;
	top: .2em;
	width: 1.5em;
	height: .9em;
	background-color: #666;
	border-radius: 50%;
	margin: .2em .25em .5em .25em;
}
.icon-eye:before,
.icon-eye:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 50%;
}
.icon-eye:before {
	width: .6em;
	height: .6em;
	background-color: #fff;
}
.icon-eye:after {
	width: .3em;
	height: .3em;
	background-color: #666;
}

/* Pencil */
.icon-pencil{
	position:relative;
	top: .12em;
    width: .35em;
    height: .9em;
    border: .175em solid #666;
    border-bottom: 0;
    border-radius: .125em;
    margin: .025em .651em .5em .651em;
    transform: rotate(30deg);
}
.icon-pencil:before{
	content: '';
	position: absolute;
	left: .05em;
	bottom: .075em;
	width: .05em;
	height: .05em;
	border: .12em solid #666;
	border-radius: 50%;
}
.icon-pencil:after{
	content: '';
	position: absolute;
	left: -.11em;
	bottom: -.25em;
	width: .4em;
	height: .4em;
	border: .175em solid #666;
	border-top: 0;
	border-left: 0;
	border-radius: 0 .25em .15em .25em;
	transform: rotate(45deg);
}

/* Circle */
.icon-success,
.icon-error,
.icon-info,
.icon-user,
.icon-compass{
	position:relative;
	top: .435em;
	width: 1.2em;
	height: 1.2em;
	border: .125em solid #666;
	border-radius: 50%;
	margin: -.35em .28em .5em .271em;
}

/* Success Error Info */
.icon-success:before,
.icon-success:after,
.icon-info:before {
	content: '';
	position:absolute;
	height:.15em;
	background-color: #666;
	border-radius: .1em;
}
/* Success */
.icon-success:before{
	top: .75em;
	left: .125em;
	width: .41em;
	transform:rotate(45deg);
}
.icon-success:after{
	top: .6em;
	left: .3em;
	width: .8em;
	transform:rotate(135deg);
}
/* Error */
.icon-error:before,
.icon-error:after{
	content: '';
	position:absolute;
	top: .55em;
	left: .15em;
	width: .9em;
	height: .15em;
	border-radius: .1em;
	background-color: #666;
}
.icon-error:before{
	transform:rotate(45deg);
}
.icon-error:after{
	transform:rotate(-45deg);
}

/* Info */
.icon-info:before {
	content: 'i';
    top: -.05em;
    left: .33em;
    width: 0;
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    color: #666;
}

/* User */
.icon-user:before  {
	content: "";
	position: absolute;
	top: -.55em;
	left: -.4em;
	width: .5em;
	height: .5em;
	background-color: #666;
	border-radius: 50%;
	margin: .6em .75em .5em .75em;
}
.icon-user:after {
	content: "";
	position: absolute;
	top: .6em;
	left: .1em;
	width: 1em;
	height: .43em;
	background-color: #666;
	border-top-left-radius: .45em;
	border-top-right-radius: .45em;
}

/* Compass */
.icon-compass:before{
	content: '';
    position: absolute;
    top: .3em;
    left: .3em;
    width: .1em;
	height: .1em;
	background-color: transparent;
    border: .25em solid #666;
    transform: skew(-25deg,-25deg)
}

/* Lock */
.icon-lock {
	position: relative;
	top: .35em;
	width: 1.35em;
	height: .75em;
	background-color: #666;
	border-radius:.15em;
	margin: .35em .329em .5em .322em;
}
.icon-lock:before {
	content: "";
	position: absolute;
	top: -.45em;
	left: .25em;
	width: .45em;
	height: .4em;
	border: .2em solid #666;
	border-radius: 50%;
}
.icon-lock:after {
	content: "";
	position: absolute;
	left: .52em;
	bottom: .2em;
	width: .3em;
	height: .4em;
	border-top-left-radius: .15em;
	border-top-right-radius: .15em;
	background-color: #fff;
}

/* Home */
.icon-home {
	position:relative;
	top: .3em;
	width: 1em;
	height: .85em;
	background-color: #666;
	margin: .25em .5em .5em .5em;
}
.icon-home:before {
	content: '';
	position: absolute;
	top: -.4em;
	left: .64em;
	margin-left: -1em;
	border-left: .85em solid transparent;
	border-right: .85em solid transparent;
	border-bottom: .65em solid #666;
}
.icon-home:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: .35em;
	width: .3em;
	height: .35em;
	background-color: #fff;
}

/* Cube */
.icon-cube{
	position: relative;
	top: -.4em;
    width: .135em;
    height: .65em;
    color: #666;
    box-shadow: inset 0 0 0 0.1em, 0 0.9em, -0.65em 0.45em, 0.65em 0.45em;
    margin: .45em .935em .5em .935em;
}
.icon-cube:after,
.icon-cube:before{
	content: '';
	position: absolute;
	top: .15em;
	width: .65em;
    height: .23em
}
.icon-cube:before{
	right: .1em;
	transform: skew(0,-35deg) scaleY(.6);
	box-shadow: inset 0 0 0 1em, 0 0.95em, 0.7em 2.5em, 0.65em 1.65em;
}
.icon-cube:after{
	left: .1em;
	transform: skew(0,35deg) scaleY(.6);
	box-shadow: inset 0 0 0 1em, 0 0.9em, -0.7em 1.6em, -0.7em 2.5em;
}

/*链接*/
.icon-chain {
	position: relative;
	width: .75em;
	height: .125em;
	margin: .65em .65em;
	transform:rotate(-45deg);
	box-shadow:inset 0 0 0 .75em;
}
.icon-chain:before,
.icon-chain:after {
	content: '';
	position:absolute;
	top: 35%;
	width: .5em;
	height: .3em;
	border: .125em solid;
	border-radius: .125em;
	transform:translateY(-50%);
}
.icon-chain:before {
	right:-.4em;
}
.icon-chain:after {
	left:-.4em;
}

/*回形针*/
.icon-paperClip {
	position: relative;
	width: .8em;
	height: .525em;
	border: .125em solid;
	border-left:none;
	border-radius:0 .5em .5em 0;
	transform:rotate(-45deg);
	margin: .2em 0 .55em .55em;
}
.icon-paperClip:before {
	content: '';
	position: absolute;
	top: 50%;
	right: .125em;
	width: .8em;
	height: .1em;
	border: .125em solid;
	border-left:none;
	border-radius:0 .5em .5em 0;
	transform:translateY(-50%);
}
.icon-paperClip:after {
	content: '';
	position:absolute;
	top: -.125em;
	left: -.65em;
	width: .8em;
	height: .35em;
	border: .125em solid;
	border-right:none;
	border-radius: .5em 0 0 .5em;
}

/*齿轮*/
.icon-gear {
	position: relative;
	width: 1.15em;
	height: 1.15em;
	border: .125em dotted;
	border-radius: 50%;
	margin: .1em;
}
.icon-gear:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: .95em;
	height: .95em;
	box-shadow: 0 0 0 3px,0 0 0 2px inset;
	border-radius: 50%;
	border: .2em solid transparent;
	box-sizing: border-box;
	transform: translate(-50%,-50%);
}

/*收割*/
.icon-crop {
	position: relative;
	width: .9em;
	height: .9em;
	border: .125em solid;
	border-left:none;
	border-bottom:none;
	margin: .3em .3em .2em .2em;
}
.icon-crop:before {
	content: '';
	position:absolute;
	width: .9em;
	height: .9em;
	top: -.3em;
	right: -.3em;
	border: .125em solid;
	border-top:none;
	border-right:none;
	box-sizing:border-box;
}
.icon-crop:after {
	content: '';
	position:absolute;
	top:0;
	right:0;
	bottom: .5em;
	left: .35em;
	width: .95em;
	height: .1em;
	margin: auto;
	box-shadow:inset 0 0 0 1em;
	transform:rotate(-45deg);
}