:root{
  --bg-color: #fff;
  --font-color: #666;
}

[class*=icon-]{
	margin: .5em;
	font-size: 1.5em;
}

.icon-mid {
	font-size: 2.5em !important;
}
.icon-large {
	font-size: 4em !important;
}

/* Arrows */
.icon-right,
.icon-left,
.icon-up,
.icon-down,
.icon-arrow-right,
.icon-arrow-left,
.icon-arrow-up,
.icon-arrow-down{
	position: relative;
	width: .5em;
	height: .5em;
	border-left: .1em solid #666;
    border-bottom: .1em solid #666;
    margin: .5em .7em;
}
.icon-right,
.icon-arrow-right{
	top: .35em;
	transform: translate(0,-50%) rotate(-135deg);
}
.icon-left,
.icon-arrow-left{
	top: .35em;
	transform: translate(0,-50%) rotate(45deg);
}
.icon-up{
	top: .45em;
	transform: translate(0,-50%) rotate(135deg);
}
.icon-arrow-up{
	top: .2em;
	transform: translate(0,-50%) rotate(135deg);
}
.icon-down{
	top: .125em;
	transform: translate(0,-50%) rotate(-45deg);
}
.icon-arrow-down{
	top: .45em;
	transform: translate(0,-50%) rotate(-45deg);
}
.icon-arrow-right:before,
.icon-arrow-left:before,
.icon-arrow-up:before,
.icon-arrow-down:before {
	content: '';
	position: absolute;
	top: .1em;
	width: .75em;
	height: .1em;
	background-color: #666;
	transform: rotate(-45deg);
}

/* Plus and Minus */
.icon-plus,
.icon-minus,
.icon-plus:after{
	width: 1em;
	height: .1em;
	background-color: #666;
}
.icon-plus,
.icon-minus{
	position: relative;
	top: -.25em;
	margin-top: 1em;
}
.icon-plus:after {
	content: '';
	position: absolute;
	transform: rotate(90deg);
}

/* False */
.icon-false,
.icon-false:after {
	width: 1.2em;
	height: .12em;
	border-radius: .1em;
	background-color: #666;
}
.icon-false {
	position:relative;
	top: -.15em;
	transform: rotate(45deg);
	margin: .98em .45em .5em .35em;
}
.icon-false:after {
	content:'';
	position: absolute;
	transform: rotate(90deg);
}

/* True */
.icon-true,
.icon-true:after {
	height: .12em;
	background-color: #666;
	transform-origin: right center;
	border-radius: .1em;
}
.icon-true {
	position:relative;
	top: .25em;
	left: -.4em;
	width: .6em;
	transform: rotate(45deg);
	margin: .98em .7em .5em .7em;
}
.icon-true:after {
	content: '';
	position: absolute;
	top: .05em;
	left: -.6em;
	width: 1.2em;
	transform: rotate(90deg);
}

/* Search */
.icon-search {
	position: relative;
	top: .1em;
    left: -.1em;
    width: 0.6em;
    height: 0.6em;
  	border: 0.175em solid #666;
  	border-radius: 0.65em;
  	margin: .15em .525em .5em .525em;
}
.icon-search:before {
	content: '';
	position: absolute;
  	right: -0.45em;
  	bottom: -0.25em;
  	width: 0.6em;
  	height: 0.15em;
  	background: #666;
  	transform: rotate(45deg);
}

/* Menus*/
.icon-menu{
	position: relative;
    top: -.2em;
    margin-top: 1em;
    width: 1.2em;
    height: .12em;
    background-color: #666;
    box-shadow: 0em -0.35em 0 0 #666, 
    			0em 0.35em 0 0 #666;
    margin: .98em .4em .5em .4em;
}

/* Dot */
.icon-dot{
	position: relative;
	top: -.2em;
	width: .2em;
	height: .2em;
	background-color: #666;
	border-radius: 50%;
	box-shadow: -0.6em 0em 0 0 #666, 
				0.6em 0em 0 0 #666;
	margin: .9em .9em .5em .9em
}

/* Download  and Upload */
.icon-download,
.icon-upload {
	position: relative;
	width: .2em;
	height: .5em;
	background-color: #666; 
	margin: .605em .901em .5em .901em ;
}
.icon-download{
	top: -.235em;
}
.icon-upload {
	top: -.1em;
}
.icon-download:before,
.icon-upload:before {
	content: '';
	position: absolute;
	left: -.15em;
	border-width: .25em;
	border-style: solid;
}
.icon-download:before {
	top: .4em;
	border-color: #666 transparent transparent transparent; 
}
.icon-upload:before {
	top: -.35em;
	border-color: transparent transparent #666 transparent; 
}
.icon-download:after,
.icon-upload:after {
	content: '';
	position: absolute;
	top: .4em;
	left: -.4em;
	width: .75em;
	height: .25em;
	border-width: 0 .125em .125em .125em;
	border-style: solid;
	border-color: #666; 
}
.icon-download:after{
	top: .5em;
}

/* Share */
.icon-share{
	position: relative;
	top: -.1em;
	left: -.85em;
	height: .35em;
	width: .35em;
	border-radius: 50%;
	color: #666;
	box-shadow: inset 0 0 0 1em, 
				1em -.5em 0 0, 
				1em .5em 0 0;
	margin: .75em .5em .5em 1.15em;
}
.icon-share:after,
.icon-share:before{
	content: '';
	position: absolute;
	left: .2em;
	width: .95em;
	height: .1em;
	background-color: #666;
}
.icon-share:before{
	top: -.15em;
	transform: rotate(-25deg)
}
.icon-share:after{
	top: .4em;
	transform: rotate(25deg)
}

/* Sliders */
.icon-sliders{
	position:relative;
	top: .125em;
    height: 1em;
    width: 1em;
    margin-top: .1em; 
} 
.icon-sliders:after,
.icon-sliders:before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #666;
}
.icon-sliders:before{
    width: .45em;
    height: .2em;
    border-radius: .05em;
    top: 70%;
    box-shadow: inset 0 0 0 0.1em, 
    			0.4em -0.4em, 
    			-0.4em -0.5em;
}
.icon-sliders:after{
    width: .1em;
    height: 110%;
    box-shadow: inset 0 0 0 .1em, 
    			.4em 0, -.4em 0
}

/* Site map */
.icon-sitemap{
	position: relative;
	top:.15em;
    width: 1.3em;
    height: .1em;
    color: #666;
    box-shadow: 0 -.25em;
    margin: 1em .351em .5em .35em;
}
.icon-sitemap:before,
.icon-sitemap:after{
	content: '';
	position: absolute;
    left: 50%;
    transform: translateX(-50%)
}
.icon-sitemap:before{
    width: .45em;
    height: .25em;
    border-radius: .05em;
   box-shadow: inset 0 0 0 1.6em, 
   				0.6em 0, 
   				-0.6em 0, 
   				0 -0.7em 0 0.05em;
}
.icon-sitemap:after{
    width: .1em;
    height: .45em;
    box-shadow: 0 -0.41em, 
    			0.6em -0.25em, 
    			-0.6em -0.25em;
}