body {
    max-width: 42em;
    padding: 2em;
    margin: 0 auto;
    color: #161616;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: currentColor;
}
.icon {
    position: relative;
    display: inline-block;
    width: 12em;
    height: 10em;
    font-size: 1em; 
}

/*云朵*/
.cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 3.6875em;
    height: 3.6875em;
    margin: -1.84375em;
    background: currentColor;
    border-radius: 50%;
    box-shadow:
    -2.1875em 0.6875em 0 -0.6875em,
    2.0625em 0.9375em 0 -0.9375em,
    0 0 0 0.375em #fff,
    -2.1875em 0.6875em 0 -0.3125em #fff,
    2.0625em 0.9375em 0 -0.5625em #fff;
}
.cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: currentColor;
    box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
    z-index: 0;
    background: #fff;
    box-shadow:
    -2.1875em 0.6875em 0 -0.6875em #fff,
    2.0625em 0.9375em 0 -0.9375em #fff,
    0 0 0 0.375em #fff,
    -2.1875em 0.6875em 0 -0.3125em #fff,
    2.0625em 0.9375em 0 -0.5625em #fff;
    opacity: 0.3;
    transform: scale(0.5) translate(6em, -3em);
    animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after {
    background: #fff; 
}

/*雨滴*/
.rain{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 3.75em;
    height: 3.75em;
    margin: 0.375em 0 0 -2em;
    background: currentColor;
}
.rain:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 1.125em;
    height: 1.125em;
    margin: -1em 0 0 -0.25em;
    background: #0cf;
    border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
    box-shadow:
    0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
    -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
    -1.375em -0.125em 0 rgba(255,255,255,0.2);
    transform: rotate(-28deg);
    animation: rain 3s linear infinite;
}

/*动画*/
@keyframes rain {
    0% {
        background: #0cf;
        box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 #0cf;
    }
    25% {
        box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em #0cf,
        -1.375em -0.125em 0 rgba(255,255,255,0.2);
    }
    50% {
        background: rgba(255,255,255,0.3);
        box-shadow:
        0.625em 0.875em 0 -0.125em #0cf,
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 rgba(255,255,255,0.2);
    }
    100% {
        box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 #0cf;
    }
}


.container{
    width: 170px;
    height: 170px;
    position: relative;
    margin: 250px auto;
    background: rgba(73,74,95,1);
}

/*乌云*/
.stormy{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 80px;
    top: 70px;
    margin-left: -60px;
    background: #222;
    border-radius: 50%;
    box-shadow: #222 64px -15px 0 -5px,
        #222 25px -25px,
        #222 30px 10px,
        #222 60px 15px 0 -10px,
        #222 85px 5px 0 -5px;
    animation: stormy 5s ease-in-out infinite;
}

@keyframes stormy{
    50%{
        transform: translateY(-20px);
    }
}

/*乌云阴影*/
.stormy::after{
    content: '';
    width: 120px;
    height: 15px;
    position: absolute;
    left: 5px;
    bottom: -60px;
    background: #000;
    border-radius: 50%;
    opacity: 0.2;
    transform: scale(0.7);
    animation: stormy_shadow 5s ease-in-out infinite;
}

@keyframes stormy_shadow{
    50%{
        transform: translateY(20px) scale(1);
        opacity: 0.05;
    }
}

/*闪电*/
.stormy::before{
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 57px;
    top: 70px;
    border-left:  0px solid transparent;
    border-right: 7px solid transparent;
    border-top: 43px solid yellow;
    box-shadow: yellow -7px -32px;
    transform:  rotate(14deg);
    transform-origin: 50% -60px;
    animation: stormy_thunder 2s steps(1, end) infinite;
}

@keyframes stormy_thunder{
    0%{
        transform: rotate(20deg);
        opacity: 1;
    }
    5%{
        transform: rotate(-34deg);
        opacity: 1;
    }
    10%{
        transform: rotate(0deg);
        opacity: 1;
    }
    15%{
        transform: rotate(-34deg);
        opacity: 0;
    }
}